{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.cdnfonts.com/css/dry-whiteboard-marker" rel="stylesheet">
                
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="\">Overview</a></li>
            <li><a href='\daygoals'>Today</a></li>
        </ul>
    </div>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>

        <form method="POST" action="/logout/" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form> 
    {% else %}
        <a href="/login/">Login</a>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>