{% extends "master.html" %}
{% load static %}

{% block title %}
  Month Goals
{% endblock %}

{% block content %}
<div class="page-header">
    <img src="{% static 'images/ThisMonthsGoals.png' %}" alt="Monthly Goals Header">
</div>
  <ul>
    {% for x in monthlygoals %}
        <li>
            <span class="parent-box {% if x.current_value >= x.target_value %}filled{% endif %}"
                    data-goal="{{ x.id }}"
                    data-complete="{% if x.current_value >= x.target_value %}1{% else %}0{% endif %}">
                    
                <svg viewBox="0 0 100 100">
                    <polyline points="10,50 40,80 90,20" />
                </svg>
            </span>

            {{ x.title }} |
            {{ x.get_goal_type_display }} |
        </li>
      <div class="progress-bar">
        {% for i in ""|ljust:x.target_value %}
            
            <span class="box
                {% if forloop.counter <= x.current_value %}filled{% endif %}"
                data-goal="{{ x.id }}"
                data-value="{{ forloop.counter }}">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline points="5,10 95,15 5,25 95,30" />
                    <polyline points="5,40 95,45 5,55 95,65" />
                    <polyline points="5,70 95,80 5,95 95,100" />
                </svg>

            </span>
          

        {% endfor %}
      </div>
    {% empty %}
      <li>No goals for this month yet</li>
    {% endfor %}
  </ul>

  <h2>Add New Goal</h2>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Goal</button>
</form>


{% load static %}
<script src="{% static 'js/goals.js' %}"></script>
{% endblock %}