{% extends "master.html" %}
{% load static %}

{% block title %}
  Week Goals
{% endblock %}

{% block content %}
<div class="page-header">
    <img src="{% static 'images/ThisWeeksGoals.png' %}" alt="Weekly Goals Header">
</div>
  <ul>
    {% for x in weeklygoals %}
      <li data-goal-item="{{ x.id }}">
          <span class="parent-box {% if x.current_value >= x.target_value %}filled{% endif %}"
                data-goal="{{ x.id }}"
                data-complete="{% if x.current_value >= x.target_value %}1{% else %}0{% endif %}">
                
              <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                  <polyline points="25,10 85,15 20,25 84,30" />
                  <polyline points="5,40 90,45 5,55 95,65" />
                  <polyline points="15,75 75,80 30,95 85,80" />
              </svg>
          </span>

          {{ x.title }} |
          {{ x.get_goal_type_display }} |

          <button class="delete-goal" data-goal="{{ x.id }}">
              ✕
          </button>
      </li>

      <div class="progress-bar">
        {% for i in ""|ljust:x.target_value %}
            
            <span class="box
                {% if forloop.counter <= x.current_value %}filled{% endif %}"
                data-goal="{{ x.id }}"
                data-value="{{ forloop.counter }}">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline points="5,10 95,15 5,25 95,30" />
                    <polyline points="5,40 95,45 5,55 95,65" />
                    <polyline points="5,70 95,80 5,95 95,100" />
                </svg>

            </span>
          

        {% endfor %}
      </div>
    {% empty %}
      <li>No goals for this week yet</li>
    {% endfor %}
  </ul>

  <h2>Add New Goal</h2>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Goal</button>
</form>



{% load static %}
<script src="{% static 'js/goals.js' %}"></script>
{% endblock %}